#!/bin/bash

# Name of this docker image
if [ -z $IMAGE_NAME ]; then
    echo "env IMAGE_NAME must be set"
    exit
fi

# docker registry
DOCKER_REGISTRY=cc-artifactory.bmwgroup.net/adp-mlfusion

# Specific Tag for this image
IMAGE_TAG=latest

# Fully qualified image URL for convenience
if [ "$IMAGE_TAG" == "" ]; then
    IMAGE_URL=$DOCKER_REGISTRY/$IMAGE_NAME
else
    IMAGE_URL=$DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
fi

echo $IMAGE_URL
